<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PORTFÓLIO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="menu-container">
        <div id="mobile-menu">
            <div id="close">X</div>
        </div>
        <div id="menu-content">
            <div class="mobile-link"><a href="/">Início</a></div>
            <div class="mobile-link"><a href="/projetos">Projetos</a></div>
            <div class="mobile-link"><a href="/autor">Autor</a></div>
            <div class="mobile-link"><a href="/contatos">Contatos</a></div>  
        </div>
    </div>
    
    <header>
        <div id="navbar">
            <div id="menu">O</div>
            <div id="bt1" class="nav-link"><a href="/">Início</a></div>
            <div id="bt2" class="nav-link"><a href="/projetos">Projetos</a></div>
            <div id="bt3" class="nav-link"><a href="/autor">Autor</a></div>
            <div id="bt4" class="nav-link"><a href="/contatos">Contatos</a></div>  
        </div>
    </header>