<%- include("partials/header.ejs"); -%>
    <link rel="stylesheet" href="/css/autor.css">

    <div id="corpo-aut">
        <div id="info-p" class="small">
            <div class="heading"></div>
            <div class="body-txt"></div>
        </div>
        
        <div id="titulo" class="small">
            <div class="heading"></div>
            <div class="body-txt"></div>
        </div>
    
        <div id="exp-acdm" class="big">
            <div class="heading"></div>
            <div class="body-txt"></div>
        </div>
    </div>

    <div id="corpo-aut-2">
        
        <div id="exp-acdm" class="big">
            <div class="heading"></div>
            <div class="body-txt"></div>
        </div>

        <div id="info-p" class="small">
            <div class="heading"></div>
            <div class="body-txt"></div>
        </div>
        
        <div id="titulo" class="small">
            <div class="heading"></div>
            <div class="body-txt"></div>
        </div>
    </div>
    
    <script src="/scripts/index.js"></script>
</body>
</html>