<%- include("partials/header.ejs"); -%>
    <link rel="stylesheet" href="/css/contatos.css">

    <div id="corpo-contato">

        <div id="redes-contatos">
            <div id="rc-title"></div>
            <div id="rc-content"></div>
        </div>
        <div id="msg">
            <div id="msg-title">Me envie uma mensagem</div>

            <div id="c-form">
                <form action="/contatos" method="post">
                    <div><label class="l1" for="names">Seu nome:</label></div>
                    <div><input class="i1" type="text" name="names"></div>
                    <div><label class="l1" for="email">Seu email:</label></div>
                    <div><input class="i1" type="email" name="mail" id="1"></div>
                    <div><label class="l1" for="mensagem">Sua mensagem:</label></div>
                    <div><textarea name="mensagem" id="2" cols="30" rows="12"></textarea></div>
                    <button type="submit">ENVIAR</button>
                </form>
            </div>
            
        </div>
    </div>

    <script src="/scripts/index.js"></script>
    <script src="/scripts/contacts.js"></script>
</body>
</html>