<%- include("partials/header.ejs"); -%>

    <link rel="stylesheet" href="/css/model_styles.css">

    <div id="corpo_model">
        <div id="git">
            <div id="git_info"><a href="">Link para o Projeto no GITHUB</a><p></p></div>
            <div id="git_link"></div>
        </div>
        <div class="section">
            <div class="esquerda">
                <div class="p_img"></div>
            </div>
            <div class="direita">
                <div class="p_detail"></div>
                <div class="p_detail"></div>
            </div>
        </div>

        <div class="section">
            <div class="esquerda">
                <div class="p_detail"></div>
                <div class="p_detail"></div>
            </div>
            <div class="direita">
                <div class="p_img"></div>
            </div>
        </div>
    </div>

    <script src="/scripts/index.js"></script>
    <script src="/scripts/model.js"></script>
</body>
</html>