<%- include("partials/header.ejs"); -%>

    <link rel="stylesheet" href="/css/projects.css">

    <div id="corpo-pj">
        <div class="pj">
            <div id="pj-1" class="project esq">
                <div class="pj-img"></div>
                <div class="pj-exp"><button>Ver</button></div>
                
            </div>
        </div>
       
        <div class="pj">
            <div id="pj-2" class="project dir">
                <div class="pj-img"></div>
                <div class="pj-exp"><button type="button">Ver</button></div>
           </div>
        </div>
       
    </div>
    <script src="/scripts/index.js"></script>
</body>
</html>